<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  </head>

  <body>

  <nav class="navbar navbar-expand-md bg-light">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand text-secondary">DAILY JOURNAL</p>
      </div>
        <ul class="navbar-nav navbar-right">
          <!-- 6 -->
          <li class="nav-item" id="home"><a class="nav-link" href="/">HOME</a></li>
          <li class="nav-item" id="about"><a class="nav-link" href="/about">ABOUT US</a></li>
          <li class="nav-item" id="contact"><a class="nav-link" href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <div class="container">
